@import 'tailwindcss';

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

html {
  color-scheme: light;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

/* globals.css */
/* Markdown共通ラッパー（例: <div class="markdown-content">） */
.markdown-content h1 {
  @apply text-4xl font-bold mt-10 mb-6;
}

.markdown-content h2 {
  @apply text-2xl font-semibold mt-6 mb-2 inline-block border-b-1 border-gray-400 pb-0;
}

.markdown-content h3 {
  @apply mt-6 text-xl font-semibold;
}

.markdown-content h4 {
  @apply mt-4 text-lg font-semibold;
}

.markdown-content p {
  @apply mt-1 mb-3 leading-relaxed;
}

.markdown-content ul {
  @apply list-disc list-inside mt-3;
}

.markdown-content li {
  @apply ml-6 mt-2;
}

/* テーブル関連 */
.markdown-content table {
  @apply border-collapse table-auto w-full mt-3;
}

.markdown-content thead {
  @apply bg-gray-100;
}

.markdown-content tbody {
  @apply [&_td]:border-t;
}

.markdown-content th {
  @apply border-b px-4 py-2 text-left font-semibold text-gray-900;
}

.markdown-content td {
  @apply border-t px-4 py-2 text-gray-700;
}

.markdown-content li > * + * {
  margin-top: 0.5rem; /* pとpの間に余白 */
}
.markdown-content blockquote {
  @apply border-l-4 border-blue-300 text-gray-600 italic pl-2 pr-5 my-4 rounded-b-sm w-11/12 ml-3;
}

.markdown-content table {
  @apply ml-2 mr-2 border-collapse my-4;
}
.markdown-content th {
  @apply text-left font-semibold px-3 py-2 bg-blue-50;
}

.markdown-content td {
  @apply px-3 py-2 border-t border-blue-200 align-top;
}

.markdown-content hr {
  @apply border-t border-gray-300 mt-6;
}
